
html {
  height: 100%;
}
body {
 
  height: 100%;
  
  display: grid;
  grid-template-rows: 60% 35%;
  grid-template-columns: 35% 65%;
  overflow: hidden;
}

#map_container {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 1vh;
  overflow: hidden;
}

 #map, #maploupe {
  position: absolute;
  
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  margin-left: 1vh;
  margin-right: 1vh;
}
#map{
  z-index: 0;
}


#maploupe {
  z-index: -1;
  visibility: hidden
}

#zoomMap {
  position: absolute;
  top : 10px;
  left: 10px;
  background-color: white;
  border: 1px solid black;
  font-size: 16px;
}

#map-column {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 90%;
  margin: 2vh; 
  
  width: 98%;
  height: 100%;
  justify-content: center;
  text-align: center;
  grid-column-gap:5%;

  
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;  
  }

#map1{
  grid-column: 1;
  margin: 2vh;
  text-align: center;
  width: 100%;
  height: 80%;
  line-height: 1.2em;
  
}

#zoom-map1, #zoom-map2, #zoom-map3 {
  margin-bottom: 5px;
}

#map2{
  grid-column: 2;
  margin: 2vh;
  text-align: center;
  width: 100%;
  height: 80%;
  line-height: 1.2em;
  
}
#map3{
  grid-column: 3;
  margin: 2vh;
  text-align: center;
  width: 100%;
  height: 80%;
  line-height: 1.2em;
  
}



/* Style pour la div principale */
#options {
  grid-column:1 ;
  grid-row:1 / span 2 ;
  height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
  overflow-y: scroll;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1{
  text-align: center;
  font-family: system-ui;
  margin: 0;
}

h3 {
  text-align: center;
  margin: 0;
}

#afficher-loupe{
  align-self: center;
}

/* Style pour le select */
#flux {
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  
}

.separation {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}


/* Style pour le formulaire de recherche */
#form_adresse {
  vertical-align: middle;
}
#form_adresse label, #form_adresse input, #form_adresse button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* Style pour le formulaire de ratio de taille
*/
#formTaille{
  width: 100%;
  grid-template-rows: repeat(3, 1fr) ;
  grid-template-columns: repeat(4, 1fr);;
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
}

label[for="largeur"]{
  grid-row: 1;
  grid-column: 1;
}

#largeur{
  grid-row: 1;
  grid-column: 2;
  width: 80px;
  height: 60%;
}

label[for="largeur_pixel"]{
  grid-row: 1;
  grid-column: 3;
}

#largeur_pixel{
  grid-row: 1;
  grid-column: 4;
  width: 80px;
  height: 60%;
}

label[for="hauteur"]{
  grid-row: 2;
  grid-column: 1;
}

#hauteur{
  grid-row: 2;
  grid-column: 2;
  width: 80px;
  height: 60%;
}

label[for="hauteur_pixel"]{
  grid-row: 2;
  grid-column: 3;
}

#hauteur_pixel{
  grid-row: 2;
  grid-column: 4;
  width: 80px;
  height: 60%;
}

label[for="resolution"] {
  grid-row: 3;
  grid-column: 1;
}

#resolution{
  grid-row: 3;
  grid-column: 2;
  width: 80px;
  height: 60%;

}

label[for="rechantillonnage"] {
  grid-row: 3;
  grid-column: 3;
}

#rechantillonnage{
  grid-row: 3;
  grid-column: 4;
  width: 80px;
  height: 60%;

}

#formPriorite{
  width: 100%;
  grid-template-rows: repeat(2, 1fr) ;
  grid-template-columns: 1fr;;
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
}

#pTaille{
  grid-row: 1;
  grid-column: 1;
}

#pResolution{
  grid-row: 2;
  grid-column: 1;
}



#fichier_style {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}




#exportation {
  grid-column: 2;
  grid-row: 2;
  display: grid;
}
#export{
  grid-column:2 ;
  grid-row:1 / span 2 ;
  align-self: center;
  justify-self: left;
  
}

#pdf{
  grid-column:1 ;
  grid-row:1 ;
}

#image{
  grid-column:1 ;
  grid-row:2 ;
}

/* Style pour le bouton de recherche */
button,#fichier_label, #export {
  font-family: Arial, sans-serif;
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1vh;
  font-size: 13px;
}

#fichier_label:hover, button:hover, #export:hover {
  background-color: #3e8e41;
}



#adresse {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

#recherche {
  grid-column: 2;
  grid-row: 1;
}

#propositions_adresse {
  grid-column: 1;
  grid-row: 2;
  position: absolute;
  
  z-index: 999; 
  
  overflow-y: scroll;
  max-height: 20vh;
  width : 15vw;
  left: 50%;
  transform: translate(-105%,0);
  background-color : white;
  
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}


#rechercher {
  grid-column: 2;
  grid-row:1 / span 2 ;
  align-self: center;
  justify-self: left;
}


.proposition_button {
  background-color: white;
  color: black;
  border: none;
}
.proposition_button:hover,.proposition_button:focus {
  background-color: rgb(235, 235, 235);
}

#pourcentage_chargement{
  margin: 10px;
  visibility: hidden
}

#aide{
  margin: 10px;
}